<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.darrylramm.affix</string>
	<key>CFBundleName</key>
	<string>affix</string>
	<key>CFBundleShortVersionString</key>
	<string>0.85</string>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2024 Darryl Ramm. Licensed under the MIT open source license. See https://github.com/Darryl-Ramm/affix</string>
</dict>
</plist>
